/* page.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(135deg, #292624 0%, #f0f0f0 100%);
  padding: 20px; /* Reduzido o padding para um layout mais compacto */
  border: 8px solid #f1a20d;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  margin-bottom: 20px; /* Espaçamento entre a imagem e o título */
  border: 6px solid #ff9800; /* Borda laranja ao redor da imagem */
  border-radius: 15px;
  padding: 10px; /* Espaçamento entre a borda e a imagem */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra sutil ao redor da imagem */
}

.title {
  color: #d32f2f;
  font-size: 3rem; /* Ajustado para um tamanho mais equilibrado */
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 5px solid #ff9800;
  padding-bottom: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.title:hover {
  color: #ff6f00;
  transform: scale(1.05); /* Efeito de destaque no título */
}

.description {
  font-size: 1.2rem; /* Ajustado para um tamanho mais confortável */
  color: #333;
  text-align: center;
  max-width: 800px; /* Ajustado para manter o texto dentro da página */
  line-height: 1.6;
  padding: 15px;
  background-color: #f9f9f9;
  border-left: 6px solid #ff9800;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.description:hover {
  background-color: #fff2e6;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
