/* footer.module.css */

.footer {
    height: 100px;
    background-color: #1e1e1e; /* Fundo escuro semelhante ao gradiente da página */
    color: #ff004f; /* Cor do texto vermelha vibrante para harmonizar com a borda */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 8px solid #ff004f; /* Borda vermelha superior para combinar com o tema */
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4); /* Sombra mais intensa para destaque */
}

.footer p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif; /* Mantém a fonte futurística e estilosa */
    color: #e7dbe4; /* Texto branco para contraste com o fundo escuro */
}

@media (max-width: 768px) {
    .footer {
        height: 80px;
        font-size: 0.9rem;
    }
}
